.expense_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    
}

.new_expense label{
    display: block;
    font-weight: bold;
    margin-left: 1rem;

}

.new_expense input[type="text"],input[type="number"],input[type="date"]{
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    width: 20rem;
}
.new_expense_button{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.new_expense_button button{
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    width: 10rem;
    height: 3rem;
    background-color: #450C5F;
    padding: .6rem;
    color: white;
    margin-left: 5px;

}
